.search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #12112e;
  font-weight: 500;
  font-size: 21px;
  border-radius: 5px;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: #bebebe;
  transition: all 250ms ease-in-out;
}
